[submodule "vendor/crossnote"]
	path = vendor/crossnote
	url = https://github.com/shd101wyy/crossnote.git
[submodule "vendor/monaco-editor"]
	path = vendor/monaco-editor
	url = https://github.com/microsoft/monaco-editor.git
[submodule "vendor/vscode"]
	path = vendor/vscode
	url = https://github.com/microsoft/vscode.git
[submodule "vendor/commonmark-spec"]
	path = vendor/commonmark-spec
	url = https://github.com/commonmark/commonmark-spec.git
[submodule "vendor/vscode-markdown-preview-enhanced"]
	path = vendor/vscode-markdown-preview-enhanced
	url = https://github.com/shd101wyy/vscode-markdown-preview-enhanced.git
