[submodule "vendor/crossnote"]
	path = vendor/crossnote
	url = https://github.com/shd101wyy/crossnote.git
[submodule "vendor/monaco-editor"]
	path = vendor/monaco-editor
	url = https://github.com/microsoft/monaco-editor.git
