[submodule "vendor/crossnote"]
	path = vendor/crossnote
	url = https://github.com/shd101wyy/crossnote.git
[submodule "vendor/monaco-editor"]
	path = vendor/monaco-editor
	url = https://github.com/microsoft/monaco-editor.git
[submodule "vendor/vscode"]
	path = vendor/vscode
	url = https://github.com/microsoft/vscode.git
[submodule "vendor/commonmark-spec"]
	path = vendor/commonmark-spec
	url = https://github.com/commonmark/commonmark-spec.git
[submodule "vendor/vscode-markdown-preview-enhanced"]
	path = vendor/vscode-markdown-preview-enhanced
	url = https://github.com/shd101wyy/vscode-markdown-preview-enhanced.git
[submodule "vendor/linear-algebra"]
	path = vendor/linear-algebra
	url = https://gitlab.com/jim.hefferon/linear-algebra.git
	branch = master
[submodule "vendor/web-git-graph"]
	path = vendor/web-git-graph
	url = https://github.com/GIS-Info/web-git-graph.git
[submodule "vendor/commit-graph"]
	path = vendor/commit-graph
	url = https://github.com/dolthub/commit-graph.git
[submodule "vendor/react-git-log"]
	path = vendor/react-git-log
	url = https://github.com/TomPlum/react-git-log.git
[submodule "vendor/gitgraph.js"]
	path = vendor/gitgraph.js
	url = https://github.com/nicoespeon/gitgraph.js.git
